@import '../palette';

html,
body {
  margin: 0;
  padding: 0;
  width: 30rem;
  min-height: 20rem;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

table {
  $color-alt: $color-light-shade;

  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1rem 0;

  td,
  th {
    padding: 0.75rem;
  }

  thead {
    th {
      border-bottom: 1px solid $color-dark-shade;
      background-color: $color-alt;

      &:first-child {
        padding-top: 1.5rem;
      }
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: $color-alt;
    }

    tr:last-child td {
      padding-bottom: 1.5rem;
    }
  }
}

.icon,
.icon svg {
  fill: currentColor;
  display: inline-block;
}

.title-bar {
  $height: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: $color-dark-shade;

  > * {
    padding: 0.75rem 1rem;
  }

  a {
    outline: none;
    color: white;
    display: block;

    &:hover,
    &:active {
      color: $color-main;
    }
  }

  .icon,
  .icon svg {
    display: block;
    width: $height;
    height: $height;
  }

  h1 {
    flex-grow: 1;
    font-size: $height;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

.page-content {
  margin: 1rem;
}

button {
  appearance: none;
  border: none;
  background-color: $color-dark-shade;
  padding: 0.5rem 1rem;
  color: $color-light-shade;

  &:hover,
  &:focus,
  &:active {
    color: $color-main;
  }
}

input[type=text] {
  appearance: none;
  border: 1px solid $color-dark-shade;
  background-color: white;
  padding: 0.5rem;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-dark-accent;
  }
}

select {
  appearance: none;
  border: 1px solid $color-dark-shade;
  background:
    url('url-loader!@fortawesome/fontawesome-free/svgs/solid/caret-down.svg')
    right 0.5rem top 50%/0.5rem
    no-repeat
    white;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-dark-accent;
  }
}
