html,
body {
  width: 30rem;

  > div {
    padding: 1rem;
  }
}

table {
  width: 100%;
}

.settings {
  position: relative;

  .loading-overlay,
  .loading-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .loading-overlay {
    background-color: white;
    opacity: 0.9;
    filter: blur(4px);
  }

  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      @keyframes spinner {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      content: " ";
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 5px solid black;
      border-top-color: red;
      animation: spinner 1s infinite linear;
    }
  }
}
