@import '../palette';
@import './sizes';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

.app {
  min-width: 20rem;
}

.icon,
.icon svg {
  fill: currentColor;
  display: inline-block;
}

.title-bar {
  $height: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: $color-dark-shade;

  > * {
    padding: 0.75rem 1rem;
  }

  a {
    outline: none;
    color: white;
    display: block;

    &:hover,
    &:active {
      color: $color-main;
    }
  }

  .icon,
  .icon svg {
    display: block;
    width: $height;
    height: $height;
  }

  h1 {
    flex-grow: 1;
    font-size: $height;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

.page-content {
  margin: 1rem;
}

button {
  appearance: none;
  border: none;
  background-color: $color-dark-shade;
  padding: 0.5rem 1rem;
  color: $color-light-shade;

  &:hover,
  &:focus,
  &:active {
    color: $color-main;
  }
}

input[type=text] {
  appearance: none;
  border: 1px solid $color-dark-shade;
  background-color: white;
  padding: 0.5rem;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-dark-accent;
  }
}

select {
  appearance: none;
  border: 1px solid $color-dark-shade;
  background:
    url('!url-loader!@fortawesome/fontawesome-free/svgs/solid/caret-down.svg')
    right 0.5rem top 50%/0.5rem
    no-repeat
    white;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-dark-accent;
  }
}
