.warning-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;

  label {
    text-align: right;
  }

  .controls {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
