name: CI
on:
  workflow_call:
    outputs:
      version:
        description: >
          Version of the package that was built. This is just the contents of
          `version` in `package.json`.
        value: ${{ jobs.build.outputs.version }}

jobs:
  build:
    outputs:
      version: ${{ steps.read-version.outputs.version }}
      artifact: prod_guard-${{ steps.read-version.outputs.version }}.zip

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm build:prod
      - run: pnpm package
      - run: pnpm lint:web-ext

      - name: Read current version
        id: read-version
        run: |
          version="$(jq < package.json -r '.version')"
          echo "version=$version" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v6
        with:
          name: prod_guard-${{ steps.read-version.outputs.version }}.zip
          path: web-ext-artifacts/prod_guard-*.zip
          if-no-files-found: error
          retention-days: 5

  storybook-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm storybook:build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm test

  e2e-tests:
    needs: [build]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: actions/download-artifact@v7
        with:
          name: ${{ needs.build.outputs.artifact }}
      - name: extract extension
        run: |
          mkdir -p dist
          unzip -d dist ${{ needs.build.outputs.artifact }}

      - uses: ./.github/actions/setup-node
      - run: pnpm playwright install --with-deps chromium
      - run: pnpm e2e --reporter github,html
        env:
          PW_TEST_HTML_REPORT_OPEN: never
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-results
          path: |
            test-results/
            playwright-report/
          if-no-files-found: error
          retention-days: 15

  lint-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm lint:js

  lint-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm lint:typecheck

  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm format:check

  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          # Helps avoid rate limiting
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix flake check -L --all-systems --keep-going
